@import "button.css";
@import "card-absolut.css";
@import "card-pseudoelement.css";

:root {
    --card-width: 200px;
    --card-height: 302px;
    --card-1-width: 400px;
    --card-1-height: 600px;
    --card-2-width: 600px;
    --card-2-height: 700px;
    --content-font-size: 4rem;
    --content-color: wheat;
    --content-color-hover: blue;
    --background-color: blue;
    --overlay-url: url(overlay.svg);
    --transition-duration: 0.25s;
    --transition-ease: linear;
    --transform-duration: 1s;
    --transform-ease: ease-in-out;
    --card-broder-radius: 1rem;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    gap: 1rem;
}

.content {
    position: relative;
    z-index: 1;
    font-size: var(--content-font-size);
    font-weight: bold;
    color: var(--content-color);
    display: grid;
    justify-content: center;
}

.card, .card-1, .card-2 {
    border-radius: var(--card-broder-radius);
}